#navOrange {
  background-color: #FFC017;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0px;
}

#navWhite {
  background-color: white;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0px;
}

#headerContainer {
  max-width: 1192px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}

#menus {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#getStartedOrange {
  color: #FFC017;
  background-color: black;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 17px;
  border-radius: 22px;
}

#getStartedGreen {
  color: white;
  background-color: rgb(26 137 23);
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 17px;
  border-radius: 22px;
}

#bannerSection {
  background-color: #FFC017;
  background-image: url(../src/pic/MMMMMM.png);
  background-size: inherit;
  background-position: right;
  background-repeat: no-repeat;
  height: 531px;
  border-bottom: 1px solid black;
}

#bannerContainer {
  max-width: 1192px;
  display: flex;
  margin: 0 auto;
  height: 531px;
}

#bannerText {
  display: flex;
  flex-direction: column;
  height: 531px;
  justify-content: center;
  max-width: 550px;
}

#bannerHeader {
  font-weight: 400;
  font-size: 106px;
  line-height: 95px;
  margin-bottom: 17px;
  margin-top: 0px;
}

#bannerTextBody {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  max-width: 425px;
  margin-bottom: 50px;
}

#bannerBtn {
  background-color: black;
  color: whitesmoke;
  padding-top: 8px;
  padding-right: 48px;
  padding-bottom: 8px;
  padding-left: 48px;
  max-width: 115px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  display: block;
}

#trendingContainer {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px 0px 46px;
  gap: 16px;
  flex-wrap: wrap;
}


#trendingHeader {
  display: flex;
  height: 29px;
  align-items: center;
  gap: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  color: #292929;
}

#trendingNewsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.trendingNewsCardContainer {
  width: 30%;
  display: flex;
  gap: 24px;
}

.trendingNewsCardNumber {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #E6E6E6;
}

.trendingNewsJournalist {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.trendingNewsDate {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #757575;
}

#trendingContainerBig {
  border-bottom: 1px solid #E6E6E6;
}

#main {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  padding-top: 50px;
}

#newsCards {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.newsCardContainer {
  display: flex;
  justify-content: space-between;
}

.NewsJournalist {
  display: flex;
  gap: 8px;
  align-items: center;
}

.NewsHead {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #292929;
  margin-top: 8px;
  margin-bottom: 0px;
}

.NewsTitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #757575;
}

.NewsDate {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #757575;
  margin-top: 9px;
}

aside {
  width: 30%;
  position: sticky;
  top: 90px;
  height: 300px;
}

#asideHeader {
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.996px;
  color: #292929;
}

#catsOfNews {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 8px;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 20px;
}

.newsCat {
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  padding: 6px 18.0312px 8px 17px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #757575;
}

footer {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 8px;
}

aside footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #757575;
}

.signInModal {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-content: center;
}

.signInModalBody {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding: 44px 56px 44px 56px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
  width: 700px;
  height: 700px;
}

.signInModalHeade {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.03em;
}

.modalInputContainer {
  display: flex;
  flex-direction: column;
}

#userNameInput, #passwordInput {
  height: 30px;
  border: 0;
  border-bottom: 3px solid black;
  outline: none;
  width: 60%;
  align-self: center;
}

#modalBtnsContainer {
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-self: center;
}

.modalBtn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 30%;
}

.modalBtn:hover,
.modalBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.modalBtn:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}