nav {
  background-color: #FFC017;
  border-bottom: 1px solid black;
}

#headerContainer {
  max-width: 1192px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}

#menus {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#getStarted {
  color: #FFC017;
  background-color: black;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 17px;
  border-radius: 22px;
}

#bannerSection {
  background-color: #FFC017;
  background-image: url(../src/pic/MMMMMM.png);
  background-size: inherit;
  background-position: right;
  background-repeat: no-repeat;
  height: 531px;
}

#bannerContainer {
  max-width: 1192px;
  display: flex;
  margin: 0 auto;
  height: 531px;
}

#bannerText {
  display: flex;
  flex-direction: column;
  height: 531px;
  justify-content: center;
  max-width: 550px;
}

#bannerHeader {
  font-weight: 400;
  font-size: 106px;
  line-height: 95px;
  margin-bottom: 17px;
  margin-top: 0px;
}

#bannerTextBody {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  max-width: 425px;
  margin-bottom: 50px;
}

#bannerBtn {
  background-color: black;
  color: whitesmoke;
  padding-top: 8px;
  padding-right: 48px;
  padding-bottom: 8px;
  padding-left: 48px;
  max-width: 115px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  display: block;
}